.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    width: 50px!important;
}

.carousel-control.right,
.carousel-control.left,
.carousel .item,
.carousel-inner,
.carousel-inner > .item > img {
    border-radius: 5px;
}
