.item-right {
    border-left: 1px solid black;
}

.nav-link-orange {
    background-color: orangered;
}

.nav-link:hover {
    background-color: gray;
}

.active {
    background-color: silver;
}

.navbar {
    border-bottom: 1px solid black;
}

.nav-item {
    border-right: 1px solid black;
}